In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('customers.csv')

In [3]:
df

,customer_id,first_name,last_name,date_of_birth,gender,address,city,state,zip_code,phone_number,email,nationality,id_type,id_number,registration_date
0,1,مشفق,آل مقطة,1959-03-23,ذكر,"033 جواهر Shoals\nNew مؤمن, PR 45224",Port عمّارside,New Jersey,63075,+1-731-855-4318x79611,lhkyrltwf@example.com,Colombia,جواز سفر,574-11-3652,2015-09-09
1,2,زهرة,المشاولة,1967-03-22,أنثى,"116 بقشان Run\nPort نافعport, LA 40385",آل مقطةville,Ohio,51122,001-679-779-5336x4390,sqrhjr@example.com,Reunion,جواز سفر,620-51-0033,2019-09-25
2,3,مُسعف,آل صفوان,1992-10-07,ذكر,"625 خليفة Square\nحياةland, IL 05520",مهناfurt,West Virginia,8279,(654)621-7216,mldbg@example.com,Norfolk Island,بطاقة هوية وطنية,810-03-4480,2017-09-14
3,4,مطاوع,آل خضير,1987-04-25,ذكر,"6739 حجار Junctions\nNorth محمودberg, WI 02287",Port فاخر,Alaska,78049,821-419-2327x019,snm53@example.com,Denmark,بطاقة هوية وطنية,788-82-8495,2021-05-04
4,5,مهدي,بن لادن,1990-12-24,ذكر,"9854 حنبولي Course Apt. 112\nعبد التّوابfurt, ...",South نوح,Wisconsin,61614,985.467.5036x494,thqb93@example.org,Congo,بطاقة هوية وطنية,576-09-6144,2016-11-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,بيلسان,آل قصير,1987-05-10,أنثى,"431 بيسان Center Apt. 706\nظافرberg, LA 62268",Port تميمchester,Virginia,34234,755.636.7450,ltwf91@example.org,Estonia,جواز سفر,768-45-1992,2023-02-24
496,497,موسى,آل عطفة,2000-07-14,ذكر,"76164 كانو Shores Suite 053\nPort كرمة, KS 11505",شفيعberg,Minnesota,2553,281.246.5494,dy-ldwyn67@example.org,Korea,بطاقة هوية وطنية,499-66-6928,2021-01-12
497,498,هند,حجار,1973-02-01,أنثى,"905 شاطر Trace Apt. 135\nPort ألين, NJ 90763",West صدّاح,Vermont,10505,760-874-8812,xal-ly@example.com,Morocco,بطاقة هوية وطنية,249-76-5097,2019-10-29
498,499,حياة,آل خضير,1989-07-26,أنثى,"7911 شهد Freeway Apt. 561\nصبريland, TN 68873",كنعانbury,Ohio,26860,789-347-4851,wsfyb-lkhyl@example.org,Tunisia,جواز سفر,531-06-4839,2016-10-08
499,500,سديم,آل العسكري,1988-06-01,أنثى,"2442 عبد الخالق Springs\nEast شكريmouth, AS 73672",West عبد المولىberg,Oklahoma,33536,(908)976-2674,xal-bn-lfy@example.org,Italy,بطاقة هوية وطنية,102-92-5002,2017-10-13

In [4]:
df = pd.read_csv('transactions.csv')

In [5]:
df

,transaction_id,account_id,transaction_type,amount,transaction_date,description,status,recipient_account_id
0,1,594,سحب,3012.53,2024-06-17 01:13:18.188640,Aut eos repellendus saepe quaerat.,ناجحة,NaN
1,2,594,دفع فواتير,195.15,2024-05-01 05:01:41.304057,Cupiditate corrupti maxime animi delectus.,فاشلة,NaN
2,3,310,تحويل,14.51,2019-06-11 07:24:42.593072,Laudantium deleniti pariatur id saepe labore.,معلقة,746.0
3,4,297,تحويل,290.61,2024-12-08 23:09:27.522204,Suscipit magni ipsam eligendi.,معلقة,364.0
4,5,505,إيداع,3089.36,2024-06-29 12:03:55.594193,Commodi unde vero.,فاشلة,NaN
...,...,...,...,...,...,...,...,...
9995,9996,344,إيداع,4204.14,2025-07-21 13:39:37.161122,Praesentium architecto qui aut reiciendis volu...,فاشلة,NaN
9996,9997,334,سحب,1513.21,2024-11-17 08:07:42.726732,Fugiat ducimus nobis explicabo reiciendis susc...,معلقة,NaN
9997,9998,447,دفع فواتير,1572.96,2020-08-10 03:32:37.915405,Earum impedit reiciendis recusandae neque.,فاشلة,NaN
9998,9999,556,تحويل,4157.33,2024-07-07 02:41:51.683984,Nulla provident molestiae in.,معلقة,884.0
9999,10000,616,إيداع,4419.36,2019-10-14 05:50:09.056761,Aliquid eligendi est fugit quidem sint odio ra...,فاشلة,NaN

In [6]:
df = pd.read_csv('payments.csv')

In [7]:
df

,payment_id,loan_id,payment_date,amount,principal_paid,interest_paid
0,1,1,2020-05-29,4926.39,3305.51,1620.88
1,2,1,2020-06-23,4343.64,3717.42,626.22
2,3,1,2020-07-18,5207.06,3241.25,1965.81
3,4,1,2020-08-24,5176.84,3360.12,1816.72
4,5,1,2020-09-17,4313.14,3013.36,1299.78
...,...,...,...,...,...,...
7164,7165,500,2019-06-03,18084.22,10739.05,7345.17
7165,7166,500,2019-06-30,20778.59,17758.05,3020.54
7166,7167,500,2019-07-23,17331.52,12424.71,4906.81
7167,7168,500,2019-09-02,18429.78,14492.49,3937.29
7168,7169,500,2019-09-19,16978.79,14716.74,2262.05

In [8]:
df = pd.read_csv('management.csv')

In [9]:
df

   manager_id  employee_id                     title  start_date    end_date
0           1           28      رئيس قسم التكنولوجيا  2017-04-24         NaN
1           2           36  رئيس قسم الموارد البشرية  2017-08-11  2020-02-20
2           3           41      رئيس قسم التكنولوجيا  2020-01-22         NaN
3           4           39         رئيس قسم العمليات  2025-07-01  2025-07-13
4           5            3         رئيس قسم العمليات  2021-03-12         NaN
5           6            4         رئيس قسم العمليات  2018-10-29         NaN
6           7           49  رئيس قسم الموارد البشرية  2021-10-16         NaN
7           8           30           الرئيس التنفيذي  2021-12-10         NaN
8           9           47           الرئيس التنفيذي  2021-03-05         NaN
9          10           32             المدير المالي  2024-02-08         NaN

In [10]:
df = pd.read_csv('loans.csv')

In [11]:
df

,loan_id,customer_id,loan_type,amount,interest_rate,term_months,start_date,end_date,status
0,1,362,شخصي,281876.42,0.0908,108,2020-05-10,2029-03-24,متعثر
1,2,97,عقاري,219473.28,0.1260,36,2022-10-05,2025-09-19,نشط
2,3,226,سيارة,494561.26,0.0658,36,2022-11-22,2025-11-06,متعثر
3,4,294,شخصي,491499.28,0.0813,240,2021-05-09,2041-01-24,نشط
4,5,156,شخصي,378465.60,0.0856,48,2025-02-26,2029-02-05,مدفوع بالكامل
...,...,...,...,...,...,...,...,...,...
495,496,281,سيارة,292776.39,0.0983,12,2024-09-14,2025-09-09,مدفوع بالكامل
496,497,34,سيارة,191529.11,0.1157,36,2016-09-28,2019-09-13,مدفوع بالكامل
497,498,338,تعليمي,95082.30,0.1425,240,2024-09-22,2044-06-09,نشط
498,499,94,عقاري,40246.95,0.0615,96,2025-04-09,2033-02-26,مدفوع بالكامل
499,500,183,تعليمي,205888.83,0.0871,12,2018-04-22,2019-04-17,نشط

In [12]:
df = pd.read_csv('employees.csv')

In [13]:
df

,employee_id,first_name,last_name,date_of_birth,gender,address,phone_number,email,position,department,hire_date,salary
0,1,عقيل,آل صفوان,1991-02-26,ذكر,"347 العجلان Hollow Apt. 002\nNorth أحلامview, ...",723-266-8550x089,wfal-mhmd-bn-ly-bn-jmz@example.net,مدير فرع,العمليات,2018-01-26,17531.23
1,2,غطفان,كانو,1970-07-25,ذكر,"36947 نادر Mill\nPort راسم, NY 35727",001-899-569-8790,al-sfwnmhr@example.org,مسؤول دعم فني,خدمة العملاء,2018-01-05,13993.54
2,3,دانية,المهنا,1998-02-06,أنثى,"0822 بنفسج Coves\nكافورberg, LA 67401",+1-624-524-7653x4369,al-swdnsr-ldwyn@example.net,محاسب,خدمة العملاء,2020-04-06,4138.71
3,4,شريف,آل محمد بن علي بن جماز,1983-08-07,ذكر,"752 حجار Heights Apt. 390\nآل خضيرberg, PR 83336",536.719.5008,vljln@example.net,مسؤول خدمة عملاء,الدعم الفني,2014-01-16,20154.06
4,5,جهاد,المهيدب,1973-02-21,ذكر,"4656 آل عواض Loop\nSouth ممدوح, LA 09935",001-214-812-2304x05091,srhn45@example.net,مدير فرع,العمليات,2011-03-10,24008.19
5,6,رسمي,آل مقطة,2001-09-10,ذكر,"1428 كنعان Mountain Suite 312\nالشايعstad, WV ...",(614)414-0567x4122,lkhrfyshkr@example.org,مسؤول دعم فني,الائتمان,2024-02-04,7337.11
6,7,اعتكاف,آل سعود,2002-02-11,أنثى,"51618 كانو Knolls\nPort عبد الجبّارfort, NJ 79291",582.791.5591,sqrbw-dwwd@example.org,مسؤول دعم فني,خدمة العملاء,2014-09-24,10910.62
7,8,جدير,الحكير,1972-08-19,ذكر,"37549 عبد الحفيظ Well\nجيلانshire, SC 13443",(711)273-6724,ltyn53@example.com,مسؤول دعم فني,المحاسبة,2017-02-02,17765.12
8,9,فؤاد,آل محمد بن علي بن جماز,1990-04-27,ذكر,"1792 آل قصير Drive Apt. 957\nحنبوليview, AZ 25788",206.535.2360,ktwmal-khdyr@example.com,صراف,الإدارة,2024-06-23,24638.72
9,10,لورا,آل بن ظافر,1979-04-07,أنثى,"1393 الحجار Cape Suite 654\nالحكيرchester, PW ...",473-308-8278x53233,ljflymshrq@example.net,مسؤول دعم فني,المالية,2020-06-17,14140.09
10,11,حمدي,آل عواض,1972-02-20,ذكر,"02876 مصعب River Suite 806\nآياتmouth, MO 78222",238-950-8292x900,vlrshd@example.com,مسؤول خدمة عملاء,خدمة العملاء,2016-10-01,22037.71
11,12,سلمان,المشاولة,1982-12-13,ذكر,1311 آل العسكري Plaza Suite 986\nLake عبد الحق...,460-224-4195x33052,ehjr@example.net,مسؤول ائتمان,الدعم الفني,2014-07-06,16060.41
12,13,حلا,العليان,1970-12-23,أنثى,45345 مهنا Canyon Suite 649\nآل محمد بن علي بن...,(564)450-6079x3728,yrlkhrfy@example.com,صراف,الائتمان,2017-04-04,18874.94
13,14,نوف,آل جعفر,1973-12-20,أنثى,"38418 جسور Highway\nالعجلانton, UT 85237",(680)906-1605,bnfsjlmhydb@example.net,مسؤول ائتمان,خدمة العملاء,2019-08-04,20718.07
14,15,نوال,آل خضير,1981-11-17,أنثى,"19386 صعب Throughway Suite 023\nالراشدport, MT...",+1-248-280-5041x4732,qtbal-rfy@example.com,صراف,الائتمان,2017-08-11,6417.55
15,16,ريم,آل بن لافي,1998-10-10,أنثى,"51487 شربتلي Stream\nأبو داوودburgh, NJ 22755",001-304-857-2430x92429,al-ydysmyn@example.com,محلل مالي,خدمة العملاء,2010-09-29,19167.22
16,17,ريان,العليان,1979-10-10,أنثى,"70171 المشاولة Place Apt. 097\nNorth غسّان, DE...",(923)666-4262,jlal-bn-zfr@example.com,صراف,الدعم الفني,2024-03-31,22166.17
17,18,سهيل,آل رفيع,1988-11-27,ذكر,"4837 آل علي Fords\nفهدbury, VT 39714",964-931-5125x5360,vlrshd@example.net,محاسب,المحاسبة,2020-12-07,21155.38
18,19,ودود,العجلان,1994-09-20,ذكر,"8038 مرعي Parkways Suite 341\nWest صبري, NM 70642",654-254-5471,trf11@example.net,مسؤول ائتمان,خدمة العملاء,2014-01-15,9756.69
19,20,هيا,المهيدب,1997-09-02,أنثى,"80186 آل بن لافي Court\nالعقيلburgh, UT 29910",001-503-225-7930,tbal-lskry@example.com,مسؤول دعم فني,الدعم الفني,2014-09-14,5666.68
20,21,ابتهال,مهنا,1981-12-06,أنثى,"085 بهية Key Apt. 809\nWest سهلstad, VT 19256",272-860-5400,al-jfrlwy@example.com,صراف,المحاسبة,2018-03-25,4469.53
21,22,عتاب,المهنا,1983-03-05,أنثى,"02935 شاكر Pass Suite 412\nSouth طائف, ID 63395",+1-299-423-1366x83151,qal-ly@example.com,محلل مالي,الائتمان,2023-10-02,4509.00
22,23,صلاح,الحجار,1976-11-18,ذكر,"12287 العقيل Valleys\nآل معيضbury, AR 53725",8969252974,elmgwl@example.org,صراف,العمليات,2023-01-30,9703.82
23,24,ترف,العقيل,1998-05-06,أنثى,"6509 آل جعفر Divide Suite 472\nضياءmouth, MS 8...",001-642-355-3992x73042,lwm19@example.org,مسؤول خدمة عملاء,الائتمان,2012-02-02,24050.16
24,25,فطين,آل خضير,1998-11-02,ذكر,"638 نغم Mission Apt. 825\nNorth نديمside, MH 5...",(705)513-8270x87212,tmym46@example.org,مسؤول خدمة عملاء,المحاسبة,2016-09-01,22187.82
25,26,سلاف,آل عطفة,1972-02-01,أنثى,Unit 1774 Box 5812\nDPO AA 83376,744-722-0713x2704,al-qsyrzhr@example.org,محاسب,الدعم الفني,2014-06-17,9639.49
26,27,صاحب,حجار,1994-06-06,ذكر,"05735 الدباغ Camp\nWest خالدي, SC 03037",216.610.4118,bal-sltn@example.net,مسؤول ائتمان,خدمة العملاء,2023-02-28,13970.32
27,28,حمود,آل قصير,2001-11-21,ذكر,"404 مزهر Mill\nعبد الحيّmouth, DC 37102",222-831-3682x2258,blqyl@example.net,مسؤول خدمة عملاء,المحاسبة,2017-02-16,22433.85
28,29,ريتاج,آل رفيع,1994-02-24,أنثى,"252 ريناد Highway Apt. 546\nNorth قانتshire, C...",513-474-4640x54406,mws95@example.net,محلل مالي,خدمة العملاء,2023-12-03,15312.65
29,30,عبد السّلام,آل رفيع,1989-03-05,ذكر,"904 فصيل Mount\nفرجmouth, OR 37509",001-907-699-0760x812,mkwy43@example.com,صراف,الدعم الفني,2013-05-20,6412.49
30,31,غانم,آل العسكري,1993-10-14,ذكر,"736 حفيظ Parkway Suite 792\nPort ميلاءshire, V...",798.749.7635,ulmhn@example.org,محاسب,الدعم الفني,2014-11-02,10801.34
31,32,بيلسان,آل معيض,1973-08-27,أنثى,6899 آل محمد بن علي بن جماز Springs Suite 061\...,001-651-809-5085x05666,hykl48@example.org,محاسب,العمليات,2023-06-20,12800.96
32,33,رؤوف,أبا الخيل,1995-01-14,ذكر,"76881 حسيب Pass Apt. 980\nآل عليhaven, NY 07569",+1-981-638-5446x17886,al-tfbd-lhyw@example.org,محلل مالي,المحاسبة,2018-08-04,4591.05
33,34,بتلاء,آل عطفة,1979-07-03,أنثى,"01054 صدر الدّين Drive Apt. 050\nالعجلانstad, ...",(774)363-3485x6481,btsmal-hsyn@example.com,مسؤول ائتمان,الإدارة,2016-07-02,6909.41
34,35,خليل,أبو داوود,1978-07-20,ذكر,213 مادلين Freeway Suite 545\nآل محمد بن علي ب...,(541)798-1555x260,rzyal-bn-lfy@example.net,مدير حسابات,خدمة العملاء,2015-08-08,10870.19
35,36,خاشعة,آل العسكري,1967-05-29,أنثى,"29682 الجابر Grove\nكنعانchester, FM 69719",(400)227-2380,sydlhkyr@example.com,مسؤول دعم فني,الائتمان,2014-03-22,15942.03
36,37,فداء,آل العسكري,2001-07-25,أنثى,"7419 آل عطفة Stravenue\nNorth هاديstad, NY 44334",6388720708,mrshd10@example.com,مسؤول دعم فني,المحاسبة,2019-04-25,10872.49
37,38,نشوة,آل عايض,1984-08-02,أنثى,"64184 داني Summit\nصافيport, NM 33865",+1-475-553-3318x6716,bd-lshwkwral-swd@example.org,محلل مالي,العمليات,2013-12-15,7281.01
38,39,سجى,الدباغ,1982-12-08,أنثى,Unit 7459 Box 9376\nDPO AE 44228,(859)318-2038x0855,rwal-hsyn@example.org,مدير فرع,المحاسبة,2025-06-08,22893.17
39,40,وليف,المهنا,1992-09-14,ذكر,"93008 آل سلطان Union\nNorth ثاقب, NJ 94875",(324)605-1882x98389,rljfly@example.org,مدير فرع,المحاسبة,2025-05-11,14102.24
40,41,منيف,آل بن ظافر,1987-11-06,ذكر,93450 آل العسكري Streets Suite 524\nآل عطفةber...,310.880.6827x606,lmhydbnyl@example.com,محلل مالي,المالية,2016-05-21,22359.73
41,42,جوريّة,آل العسكري,2000-03-12,أنثى,"459 الحكير Points Apt. 100\nبن لادنfort, MH 66407",(377)627-3175x221,ljbrrmhy@example.com,محلل مالي,خدمة العملاء,2024-07-13,14050.23
42,43,شادن,بقشان,1992-05-22,أنثى,"5157 أبا الخيل Plain\nالمهيدبstad, AK 20939",001-929-401-6595,khlyf49@example.org,مدير فرع,العمليات,2019-09-24,8589.62
43,44,بيلسان,شربتلي,1991-03-10,أنثى,"PSC 0958, Box 4070\nAPO AE 59346",614.879.3572,ual-rfy@example.com,مسؤول ائتمان,المالية,2022-01-20,14910.56
44,45,ترف,حجار,1994-05-04,أنثى,"21758 ناظم Causeway Suite 484\nشعيبfurt, NJ 40614",215-272-9674x18268,almhn@example.net,مسؤول خدمة عملاء,الائتمان,2022-02-24,23813.94
45,46,روعة,الجفالي,1996-05-23,أنثى,"80836 شافع Via Apt. 051\nNorth فطينbury, AL 81741",(829)996-2144x5030,sfynlrshd@example.com,مسؤول خدمة عملاء,الدعم الفني,2019-08-26,24262.45
46,47,مُنجد,كانو,1998-03-16,ذكر,"48074 آل سلطان Dale Apt. 921\nSouth عمّار, MD ...",(244)986-8305,al-lyhrth@example.com,صراف,الائتمان,2019-05-31,11391.03
47,48,كاملة,المهنا,1970-11-11,أنثى,"596 لانا Forest\nمُصلحfort, SD 85865",702.372.1684x1319,dljln@example.com,مسؤول ائتمان,الدعم الفني,2018-09-28,22395.19
48,49,مختار,الجفالي,1992-12-06,ذكر,"2615 الراشد Ports Suite 022\nرشيدborough, NV 2...",001-873-923-7784,shhdal-lskry@example.org,مدير فرع,الائتمان,2018-04-02,14629.46
49,50,مرزوق,الراشد,1964-08-29,ذكر,"747 آل سلطان Fall Apt. 576\nشهمmouth, NJ 36744",(379)771-8575,fwwz47@example.net,مسؤول دعم فني,الدعم الفني,2021-08-16,9363.35

In [14]:
df = pd.read_csv('branches.csv')

In [15]:
df

,branch_id,branch_name,address,city,state,zip_code,phone_number
0,1,الفرع رقم 1,9391 دانية Parkway Suite 174\nWest عبد الباريb...,South علي,Louisiana,50213,483-514-1680x5948
1,2,الفرع رقم 2,"034 آل قصير Inlet Suite 533\nأريجchester, OK 5...",North شهب,Maine,44434,910-635-1116
2,3,الفرع رقم 3,"0532 فصيل Pass Suite 558\nمرعيfurt, IL 35103",آل بن ظافرmouth,Hawaii,3578,(643)475-1128x468
3,4,الفرع رقم 4,"6023 آل مقطة Spring Suite 295\nبهاءborough, PA...",إليناview,Missouri,4560,838-351-5347x7873
4,5,الفرع رقم 5,"28064 ثاقب Pass\nآل عطفةstad, VA 82173",رستمtown,Illinois,33568,(833)421-2922x4499
5,6,الفرع رقم 6,"6621 المشاولة Well\nالحكيرstad, NC 92116",East شاطر,Illinois,81833,+1-231-874-2569x2184
6,7,الفرع رقم 7,"174 أبا الخيل Radial Apt. 347\nWest سعود, OH 0...",الشايعville,Missouri,24044,(708)339-5429x1146
7,8,الفرع رقم 8,"97220 فارع Mews Apt. 623\nعبد الغنيbury, VT 81916",قنوعhaven,Arizona,97010,704-347-0602x635
8,9,الفرع رقم 9,"40849 وضّاح Gateway\nآل بن لافيton, MT 34743",Lake سليمshire,Florida,20538,(576)501-8656x96380
9,10,الفرع رقم 10,"168 منيب Extensions\nكافورton, VT 09377",العقيلbury,New Hampshire,19736,+1-248-751-0616x7905

In [16]:
df = pd.read_csv('accounts.csv')

In [17]:
df

,account_id,customer_id,account_type,balance,currency,opening_date,status
0,1,1,جاري,23424.37,USD,2021-06-20,نشط
1,2,1,توفير,57382.92,SAR,2017-01-07,نشط
2,3,2,توفير,50085.13,USD,2021-12-15,نشط
3,4,2,جاري,38094.92,SAR,2020-08-16,نشط
4,5,3,توفير,93787.44,USD,2020-09-19,نشط
...,...,...,...,...,...,...,...
1008,1009,498,استثمار,31095.71,USD,2023-08-13,نشط
1009,1010,498,توفير,10847.12,SAR,2022-01-10,نشط
1010,1011,499,توفير,14222.21,SAR,2023-07-29,نشط
1011,1012,500,جاري,26305.03,EUR,2024-10-09,نشط
1012,1013,500,جاري,99932.70,USD,2019-12-26,نشط